:root{
    --hero_height:50vh;
    
    --footer-height:50px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    position:relative;
    width:100%;
    min-height: 100%;
    background-color: whitesmoke;
    font-family:arial;
}

content{
    display:flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
}

.hero{
    width:100%;
    height:var(--hero_height);
    position: relative;
}

.hero_image{
    height:50%;
    background-color: aqua;
    background-image: url(https://los40.com/los40/imagenes/2019/08/08/los40classic/1565250101_557933_1565250401_gigante_normal.jpg);
    background-size: cover;
}

.profile_image img{
    height:100%;
    width:100%;
    overflow: hidden;
    border-radius: 50%;
}

.profile_image{
    height:calc(var(--hero_height)/1.5);
    width:calc(var(--hero_height)/1.5);
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: black;
    left: 0; 
    right: 0; 
    top:0;
    bottom:0;
    
    margin-left: auto; 
    margin-right: auto;     
    margin-top: auto; 
    margin-bottom: auto; 
  }

footer{
    position: sticky;
    bottom: 0;
    display:flex;
    width:100%;
    height:var(--footer-height);
    background-color: gray;
}

.like_image{
    position:absolute;
    right:20px;
    top:20px;
    height:40px;
}
.like_image img{
    height:100%;
}

.hero .name{
    display:flex;
    height:50%;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.message_list{
    padding:1rem;
}
.message_list .title{
    font-weight: 600;   
}

.list_content{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;   

}

.message{
    width:100%;
    border:1px solid black;
    border-radius: 1rem;
    padding:.5rem 1rem;
}

.message_text{
    padding:.5rem;
}

.message_response{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:.1rem;
}
.message_response img{
    height:1rem;
    position:absolute;
    right:15px;
}

.message_response input{
    all:unset;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
    border-radius: 1rem;
    padding:.5rem 0;
    padding-left: 1rem;
    width:100%;
}

.message_header{
    display:flex;
    justify-content: space-between;
    padding:.5rem;
}
.message_header .image{
    border-radius: 50%;
    height:50px;
    width:50px;
}
.message_header .image img{
    height:100%;
    width:100%;
    border-radius: 50px;
}

.user{
    display:flex;
    align-items: center;
    width:80%;
    gap:2rem
}

.user .info{
    gap:.5rem;
}

.info .name{
    font-weight: 700;
}
.info .rol{
    font-size: 0.8rem;

}

.controls{
    display: flex;
    align-items: center;
    gap:1rem;
}

.control_item{
    height:20px;

}

.control_item img{
    height:100%;
}